{% load static %}
<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">
        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="menu-item {% if request.get_full_path == '/dashboard/' %}active{% endif %}">
                    <a href="{% url 'dashboard' %}" class="text-decoration-none"><i
                            class="menu-icon fa fa-laptop"></i>Dashboard
                    </a>
                </li>
                {% if request.user.is_superuser %}                    
                    <li class="menu-item {% if request.get_full_path == '/dashboard/cadmin/' %}active{% endif %}">
                        <a href="{% url 'dashboard_cadmin' %}" class="text-decoration-none">
                            <i class="menu-icon fas fa-user-shield"></i>Company Admin</a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/dashboard/padmin/' %}active{% endif %}">
                        <a href="{% url 'dashboard_padmin' %}" class="text-decoration-none">
                            <i class="menu-icon fas fa-user-shield"></i>Park Admin
                        </a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/dashboard/company/' %}active{% endif %}">
                        <a href="{% url 'dashboard_company' %}" class="text-decoration-none">
                            <i class="menu-icon fa fa-building"></i>Companies</a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/dashboard/park/' %}active{% endif %}">
                        <a href="{% url 'dashboard_park' %}" class="text-decoration-none">
                            <i class="menu-icon fa fa-th"></i>Parks</a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/dashboard/users_info/' %}active{% endif %}">
                        <a href="{% url 'dashboard_users_info' %}" class="text-decoration-none">
                            <i class="menu-icon fas fa-user-friends"></i>Users info
                        </a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/waitlist/' %}active{% endif %}">
                        <a href="{% url 'dashboard_waitlist' %}" class="text-decoration-none">
                            <i class="menu-icon fa fa-list"></i>Waitlist
                        </a>
                    </li>
                    <!-- <li class="menu-item {% if request.get_full_path == '/dashboard/bookings/' %}active{% endif %}">
                        <a href="{% url 'dashboard_bookings' %}" class="text-decoration-none">
                            <i class="menu-icon fa fa-car"></i>Booking
                        </a>
                    </li> -->
                {% elif request.user.administrator.is_company_admin %}
                    <li class="menu-item {% if request.get_full_path == '/dashboard/company/' %}active{% endif %}">
                        <a href="{% url 'dashboard_company' %}" class="text-decoration-none">
                            <i class="menu-icon fa fa-building"></i>Companies</a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/dashboard/padmin/' %}active{% endif %}">
                        <a href="{% url 'dashboard_padmin' %}" class="text-decoration-none">
                            <i class="menu-icon fas fa-user-shield"></i>Park Admin
                        </a>
                    </li>
                    <li class="menu-item {% if request.get_full_path == '/dashboard/park/' %}active{% endif %}">
                        <a href="{% url 'dashboard_park' %}" class="text-decoration-none">
                            <i class="menu-icon fa fa-th"></i>Parks</a>
                    </li>
                {% endif %}
                <li class="menu-item mt-5">
                    <small>Copyright &copy; 2021 ParkWell Africa</small>
                    <small>Powered by El-nino</small>
                </li>
            </ul>
        </div>
    </nav>
</aside>