asgiref==3.7.2
autopep8==2.0.0
beautifulsoup4==4.12.2
certifi==2023.5.7
charset-normalizer==3.1.0
Django==3.0
django-cors-headers==3.3.0
django-widget-tweaks==1.4.12
djangorestframework==3.14.0
et-xmlfile==1.1.0
idna==3.4
openpyxl==3.1.2
Pillow==10.0.0
pycodestyle==2.10.0
pytz==2023.3
requests==2.31.0
six==1.16.0
soupsieve==2.4.1
sqlparse==0.4.4
tomli==2.0.1
tzdata==2023.3
urllib3==2.0.2
