{% extends 'layouts/map.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block content %}
    {% include 'navigations/map-navbar.html' %}

    <div>
        <!-- sidebar -->
        <div class='sidebar'>
            <div class='heading'>
                <h1>Parks near your location</h1>
            </div>
            <div id='listings' class='listings lg-listing'></div>
        </div>

        <!-- map -->
        <div id="map" class="map">
            <div class="gmapsearch-div">
                <input id="gmapSearchInputMap" class="gmapsearchmap-input" placeholder="Where are you going?">
            </div>
        </div>

        <!-- mobile sidebar -->
        <button id="mobileParkCardTrigger"><i class="fas fa-lg fa-arrow-up mr-3 up-arrow"></i> View parks around your location</button>

        <div class="mobile-park-card up" style="z-index: 2 !important;">
            <div class='sidebar'>
                <div class='heading'>
                    <h1><i class="fas fa-arrow-down mr-3 up-arrow"></i> Parks near your location</h1>
                </div>
                <div id='listingSmall' class='listings'></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block JSscript %}
    <script>
        var company = {{ company_list|safe}};
        var parks = {{ parks_list|safe}};
        var lon = '{{ lon }}';
        var lat = '{{ lat }}';
    </script>
{% endblock %}