<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

        <title>PARKWELL API ENDPOINTS DOCS</title>
    </head>
    <body>
        <section>
            <div class="container bg-dark text-light">
                <div class="row">
                    <div class="col-sm-12">
                        <h2>PARKWELL API ENDPOINTS DOCS</h2>
                        <p>
                            This is the parkwell API documentation for the ENDPOINTS of the APIs and they functions 
                            they perform when called from the frontend. (<b>NOTE:</b> that is docs will be updated as
                            time changes.)
                        </p>
                    </div>
                
                    <div class="col-sm-12">
                        <h3>Admin login details:</h3>
                        <ul>
                            <li><b>ADMIN PAGE: </b><a href="/superadmin" target="_blank" rel="noopener noreferrer">https://www.parkwell.africa/superadmin/</a></li>
                            <li><b>USERNAME: </b>parkwelladmin</li>
                            <li><b>EMAIL: </b>parkwell2021@gmail.com</li>
                            <li><b>PASSWORD: </b>852456</li>
                        </ul>
                    </div>
                    
                    <div class="col-sm-12">
                        <h3><u>Park api:</u></h3>
                        <p>
                            This api handles all processing under the control of the <b>park</b> application in parkwell.
                            It also have a child(ForeignKey) relationship with "Company api" and a parent relationship with 
                            "Park Image api".
                        </p>
                        <h5>Park App Fields</h5>
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>company</td>
                                    <td>This is a ForeignKey relationship field to the company model.</td>
                                </tr>
                                <tr>
                                    <td>admin</td>
                                    <td>This is a OneToOneField relationship field to the ParkAdminProfile model.</td>
                                </tr>
                                <tr>
                                    <td>park_name</td>
                                    <td>This is the name of the park.</td>
                                </tr>
                                <tr>
                                    <td>park_email</td>
                                    <td>This is the email address of the park.</td>
                                </tr>
                                <tr>
                                    <td>free_space</td>
                                    <td>This take the value number of free parking space of a park. It take only positive integers</td>
                                </tr>
                                <tr>
                                    <td>duration</td>
                                    <td>This is the difference between the arrival and departure time. It take only positive integers.</td>
                                </tr>
                                <tr>
                                    <td>park_number</td>
                                    <td>This is the phone number of the park.</td>
                                </tr>
                                <tr>
                                    <td>park_address</td>
                                    <td>This is the physical location of the park.</td>
                                </tr>
                                <tr>
                                    <td>park_coordinates</td>
                                    <td>This is the coordinate location of the park.</td>
                                </tr>
                                <tr>
                                    <td>park_about</td>
                                    <td>This is the about of the park.</td>
                                </tr>
                                <tr>
                                    <td>updated_on</td>
                                    <td>This is the time the park informations were updated.</td>
                                </tr>
                                <tr>
                                    <td>created_on</td>
                                    <td>This is the time the park informations were created.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>
                                <h4>Park List:</h4>
                                <p>
                                    This display all the parks and their instances (i.e You can access each park and its instance) 
                                    in a List(python) or Array(JS). And each park in form of Dictionary(Python) or Object(JS).
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/">https://www.parkwell.africa/api/v1/park/</a></li>
                            </li>
                            <li>
                                <h4>Park Detail:</h4>
                                <p>
                                    This display only a park and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method for all users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/1/">https://www.parkwell.africa/api/v1/park/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Park Create:</h4>
                                <p>
                                    This create a new park and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method for the company admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/create/1/">https://www.parkwell.africa/api/v1/park/create/{user_id}/</a></li> "{user_id}" means the user id.
                            </li>
                            <li>
                                <h4>Park Update:</h4>
                                <p>
                                    This update a park and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>PUT</b> method for the park admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/update/1/">https://www.parkwell.africa/api/v1/park/update/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Park Delete:</h4>
                                <p>
                                    This delete a park and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>DELETE</b> method for the park admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/delete/1/">https://www.parkwell.africa/api/v1/park/delete/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                        </ul>
                
                        <br>
                
                        <h3><u>Park Image api:</u></h3>
                        <p>
                            This api handles only the image(s) processing associated with a park under the control of the <b>park</b> application in parkwell.
                            It also have a child(ForeignKey) relationship with "Park api". It is an optional field.
                        </p>
                        <ul>
                            <li>
                                <h4>Park Image List:</h4>
                                <p>
                                    This display all the park images in a List(python) or Array(JS).
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/image/">https://www.parkwell.africa/api/v1/park/image/</a></li>
                            </li>
                            <li>
                                <h4>Park Image Detail:</h4>
                                <p>
                                    This display only a park image.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method for all users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/image/1/">https://www.parkwell.africa/api/v1/park/image/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Park Image Create:</h4>
                                <p>
                                    This create a new park image for a park.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method for the company admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/image/create/1/">https://www.parkwell.africa/api/v1/park/image/create/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Park Image Update:</h4>
                                <p>
                                    This update a park image and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>PUT</b> method for the park admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/image/update/1/">https://www.parkwell.africa/api/v1/park/image/update/{pk}</a></li> "{pk}" means the primary key(ID).
                            </li>
                            <li>
                                <h4>Park Image Delete:</h4>
                                <p>
                                    This delete a park image and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>DELETE</b> method for the park admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/image/delete/1/">https://www.parkwell.africa/api/v1/park/image/delete/{pk}/</a></li> "{pk}" means the primary key(ID).
                            </li>
                        </ul>
                
                        <br>
                
                        <h3><u>Park Other Services api:</u></h3>
                        <p>
                            This api handles only the extra service section associated with a park under the control of the <b>park</b> application in parkwell.
                            It also have a child(ForeignKey) relationship with "Park api". It is an optional field.
                        </p>
                        <ul>
                            <li>
                                <h4>Park Other Services List:</h4>
                                <p>
                                    This display all the park other service in a List(python) or Array(JS).
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/services/">https://www.parkwell.africa/api/v1/park/services/</a></li>
                            </li>
                            <li>
                                <h4>Park Other Services Detail:</h4>
                                <p>
                                    This display only other services associated with a park.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method for all users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/services/1/">https://www.parkwell.africa/api/v1/park/services/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Park Other Services Create:</h4>
                                <p>
                                    This create a new other service for a park.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method for the company admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/services/create/1/">https://www.parkwell.africa/api/v1/park/services/create/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Park Other Services Update:</h4>
                                <p>
                                    This update a park other service and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>PUT</b> method for the park admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/services/update/1/">https://www.parkwell.africa/api/v1/park/services/update/{pk}</a></li> "{pk}" means the primary key(ID).
                            </li>
                            <li>
                                <h4>Park Other Services Delete:</h4>
                                <p>
                                    This delete a park other service and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>DELETE</b> method for the park admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/park/services/delete/1/">https://www.parkwell.africa/api/v1/park/services/delete/{pk}/</a></li> "{pk}" means the primary key(ID).
                            </li>
                        </ul>
                    </div>
                
                    <div class="col-sm-12">
                        <h3><u>Company api:</u></h3>
                        <p>
                            This api handles all processing under the control of the <b>company</b> application in parkwell.
                            It also have parent relationship with "Park api".
                        </p>
                        <h5>Company App Fields</h5>
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>admin</td>
                                    <td>This is a OneToOneField relationship field to the CompanyAdminProfile model.</td>
                                </tr>
                                <tr>
                                    <td>company_logo</td>
                                    <td>This is the logo of the company.</td>
                                </tr>
                                <tr>
                                    <td>company_name</td>
                                    <td>This is the name of the company.</td>
                                </tr>
                                <tr>
                                    <td>company_email</td>
                                    <td>This is the email address of the company.</td>
                                </tr>
                                <tr>
                                    <td>company_number</td>
                                    <td>This is the phone number of the company.</td>
                                </tr>
                                <tr>
                                    <td>company_about</td>
                                    <td>This is the about of the company.</td>
                                </tr>
                                <tr>
                                    <td>updated_on</td>
                                    <td>This is the time the company informations were updated.</td>
                                </tr>
                                <tr>
                                    <td>created_on</td>
                                    <td>This is the time the company informations were created.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>
                                <h4>Company List:</h4>
                                <p>
                                    This display all the companies and their instances (i.e You can access each company and its instance) 
                                    in a List(python) or Array(JS). And each company in form of Dictionary(Python) or Object(JS).
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/company/">https://www.parkwell.africa/api/v1/company/</a></li>
                            </li>
                            <li>
                                <h4>Company Detail:</h4>
                                <p>
                                    This display only a company and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method for all users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/company/1/">https://www.parkwell.africa/api/v1/company/{company_id}/</a></li> "{company_id}" means the company id.
                            </li>
                            <li>
                                <h4>Company Create:</h4>
                                <p>
                                    This create a new company and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method for the company admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/company/create/1/">https://www.parkwell.africa/api/v1/company/create/{user_id}/</a></li> "{user_id}" means the user id.
                            </li>
                            <li>
                                <h4>Company Update:</h4>
                                <p>
                                    This update a company and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>PUT</b> method for the company admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/company/update/1/">https://www.parkwell.africa/api/v1/company/update/{company_id}/</a></li> "{company_id}" means the company id.
                            </li>
                            <li>
                                <h4>Company Delete:</h4>
                                <p>
                                    This delete a company and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>DELETE</b> method for the company admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/company/delete/1/">https://www.parkwell.africa/api/v1/company/delete/{company_id}/</a></li> "{company_id}" means the company id.
                            </li>
                        </ul>
                    </div>
                
                    <div class="col-sm-12">
                        <h3><u>Account api:</u></h3>
                        <p>
                            This api handles all processing under the control of the <b>account(registration, login, logout)</b> application in parkwell.
                        </p>
                        <h5>Company App Fields</h5>
                        <h6>CompanyAdminProfile Model</h6>
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>admin</td>
                                    <td>This is a OneToOneField relationship field to the User model.</td>
                                </tr>
                                <tr>
                                    <td>company_admin_photo</td>
                                    <td>This is the photo of the company's admin(optional).</td>
                                </tr>
                                <tr>
                                    <td>company_admin_number</td>
                                    <td>This is the phone number of the company's admin.</td>
                                </tr>
                                <tr>
                                    <td>updated_on</td>
                                    <td>This is the time the company's admin informations were updated.</td>
                                </tr>
                                <tr>
                                    <td>created_on</td>
                                    <td>This is the time the company's admin informations were created.</td>
                                </tr>
                            </tbody>
                        </table>
                        <h6>ParkAdminProfile Model</h6>
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>admin</td>
                                    <td>This is a OneToOneField relationship field to the User model.</td>
                                </tr>
                                <tr>
                                    <td>park_admin_photo</td>
                                    <td>This is the photo of the park's admin(optional).</td>
                                </tr>
                                <tr>
                                    <td>park_admin_number</td>
                                    <td>This is the phone number of the park's admin.</td>
                                </tr>
                                <tr>
                                    <td>updated_on</td>
                                    <td>This is the time the park's admin informations were updated.</td>
                                </tr>
                                <tr>
                                    <td>created_on</td>
                                    <td>This is the time the park's admin informations were created.</td>
                                </tr>
                            </tbody>
                        </table>
                        <h6>User Model</h6>
                        <table class="table table-light table-hover">
                            <b>Can update fields</b>
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>username</td>
                                    <td>This is the user's username.</td>
                                </tr>
                                <tr>
                                    <td>first_name</td>
                                    <td>This is the user's first name.</td>
                                </tr>
                                <tr>
                                    <td>last_name</td>
                                    <td>This is the user's last name.</td>
                                </tr>
                                <tr>
                                    <td>email</td>
                                    <td>This is the user's email.</td>
                                </tr>
                            </tbody>
                        </table>
                        <table class="table table-light table-hover">
                            <b>Can not update fields</b>
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>id</td>
                                    <td>This is the user's id.</td>
                                </tr>
                                <tr>
                                    <td>last_login</td>
                                    <td>This is the user's last login info.</td>
                                </tr>
                                <tr>
                                    <td>is_superuser</td>
                                    <td>This return true/false depending on the user's is_superuser.</td>
                                </tr>
                                <tr>
                                    <td>is_staff</td>
                                    <td>This return true/false depending on the user's is_staff.</td>
                                </tr>
                                <tr>
                                    <td>is_active</td>
                                    <td>This return true/false depending on the user's is_active.</td>
                                </tr>
                                <tr>
                                    <td>date_joined</td>
                                    <td>This return datetime the user joined parkwell.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>
                                <h4>User List:</h4>
                                <p>
                                    This display all the users and their instances for all parks in parkwell (i.e You can access each user and its instance) 
                                    in a List(python) or Array(JS). And each company in form of Dictionary(Python) or Object(JS).
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/user/">https://www.parkwell.africa/api/v1/account/user/</a></li>
                            </li>
                            <li>
                                <h4>User Detail:</h4>
                                <p>
                                    This display only a user and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method for all users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/user/1/">https://www.parkwell.africa/api/v1/account/user/{token}/</a></li> "{token}" means the user id.
                            </li>
                            <li>
                                <h4>User Update:</h4>
                                <p>
                                    This update a user and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>PUT</b> method for the user admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/user/update/1/">https://www.parkwell.africa/api/v1/account/user/update/{user_id}/</a></li> "{user_id}" means the user id.
                            </li>
                            <li>
                                <h4>User Delete:</h4>
                                <p>
                                    This delete a user and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>DELETE</b> method for the user admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/user/delete/1/">https://www.parkwell.africa/api/v1/account/user/delete/{user_id}/</a></li> "{user_id}" means the user id.
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <h4>Register:</h4>
                                <p>
                                    This register a new user instance in to the parkwell database.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/register/">https://www.parkwell.africa/api/v1/account/register/</a></li>
                            </li>
                            <li>
                                <h4>Register As Company Admin:</h4>
                                <p>
                                    This combine the register model and the company admin model.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method!!!
                                    <br>
                                    it takes fields as follow: username, email, password1, password2, and 
                                    company_admin_number.
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/register_as_company_admin/">https://www.parkwell.africa/api/v1/account/register_as_company_admin/</a></li>
                            </li>
                            <li>
                                <h4>Login:</h4>
                                <p>
                                    This login in a registered user to the parkwell system with a token set to expire on time duration.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/login/">https://www.parkwell.africa/api/v1/account/login/</a></li>
                            </li>
                            <li>
                                <h4>Logout:</h4>
                                <p>
                                    This logout a logged in user in parkwell system immediately by calling the delete method on the token.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/account/logout/">https://www.parkwell.africa/api/v1/account/logout/</a></li>
                            </li>
                        </ul>
                    </div>

                    <div class="col-sm-12">
                        <h3><u>Main api:</u></h3>
                        <p>
                            This api handles all processing under the control of the <b>main(home)</b> application in parkwell.
                        </p>
                        <h5>Main App Fields</h5>
                        <h6>Booking Model</h6>
                        <table class="table table-light table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Field</th>
                                    <th scope="col">Uses</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>full_name</td>
                                    <td>This is the booking user's fullname.</td>
                                </tr>
                                <tr>
                                    <td>email</td>
                                    <td>This is the booking user's email.</td>
                                </tr>
                                <tr>
                                    <td>park</td>
                                    <td>This is a ManyToManyField relationship field to the Park model.</td>
                                </tr>
                                <tr>
                                    <td>mobile_number</td>
                                    <td>This is the mobile number of the booker.</td>
                                </tr>
                                <tr>
                                    <td>arrival_time</td>
                                    <td>This is the time of arrival for the booking user.</td>
                                </tr>
                                <tr>
                                    <td>departure_time</td>
                                    <td>This is the time of departure for the booking user.</td>
                                </tr>
                                <tr>
                                    <td>created_on</td>
                                    <td>This is the time the booking informations were created.</td>
                                </tr>
                            </tbody>
                        </table>
                        <ul>
                            <li>
                                <h4>Booking List:</h4>
                                <p>
                                    This display all the Bookings and their instances for all parks in parkwell (i.e You can access each booking and its instance) 
                                    in a List(python) or Array(JS). And each company in form of Dictionary(Python) or Object(JS).
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/booking/">https://www.parkwell.africa/api/v1/booking/</a></li>
                            </li>
                            <li>
                                <h4>Booking Detail:</h4>
                                <p>
                                    This display only a booking and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>GET</b> method for all users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/booking/1/">https://www.parkwell.africa/api/v1/booking/{booking_id}/</a></li> "{booking_id}" means the booking id.
                            </li>
                            <li>
                                <h4>Booking Create:</h4>
                                <p>
                                    This create a new booking and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>POST</b> method for the booking admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/booking/create/1/">https://www.parkwell.africa/api/v1/booking/create/{park_id}/</a></li> "{park_id}" means the park id.
                            </li>
                            <li>
                                <h4>Booking Update:</h4>
                                <p>
                                    This update a booking and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>PUT</b> method for the booking admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/booking/update/1/">https://www.parkwell.africa/api/v1/booking/update/{booking_id}/</a></li> "{booking_id}" means the booking id.
                            </li>
                            <li>
                                <h4>Booking Delete:</h4>
                                <p>
                                    This delete a booking and its instance.
                                    <br>
                                    <b>NOTE:</b> that this only takes the <b>DELETE</b> method for the booking admin but takes nothing for unauthorized users!!!
                                </p>
                                <b>Endpoint:</b> <a href="/api/v1/booking/delete/1/">https://www.parkwell.africa/api/v1/booking/delete/{booking_id}/</a></li> "{booking_id}" means the booking id.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>