{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block description %}
    <meta property="og:description" content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and pollution." />
    <meta itemprop="description" name="description" content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and pollution." />
{% endblock %}
{% block keywords %}
    <meta name="keywords" content="Parkwell, parking, traffic" />
{% endblock %}
{% block title %}
    <meta property="og:title" content="Parkwell Africa">
    <title>Parkwell Africa</title>
{% endblock %}
{% block toplink %}
    <style>
        #hero .search-box {
            font-size: 15px;
        }
        
        #hero .search-box h4 {
            font-size: 16px;
            font-weight: bold;
            position: relative;
            padding-bottom: 12px;
        }
        
        #hero .search-box form {
            margin-top: 30px;
            background: #fff;
            padding: 5px 10px;
            position: relative;
            border-radius: 4px;
            text-align: left;
        }
        
        #hero .search-box form input[type="email"] {
            border: 0;
            padding: 4px 8px;
            width: calc(100% - 100px);
        }
        
        #hero .search-box form input[type="text"] {
            border: 0;
            padding: 4px 8px;
            width: calc(100% - 100px);
        }
        
        #hero .search-box form input[type="submit"] {
            position: absolute;
            right: -1px;
            top: 0;
            bottom: 0;
            border: 0;
            background: none;
            font-size: 16px;
            padding: 0 20px;
            background: #009a00;
            color: #fff;
            transition: 0.3s;
            border-radius: 0 4px 4px 0;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        }
        
        #hero .search-box form input[type="submit"]:hover {
            background: #47cf47;
        }
        
        #hero .search-ui a {
            text-decoration: none;
            width: 100%;
        }
        
        #hero .search-ui a:link,
        #hero .search-ui a:visited {
            color: #141814;
            padding: 4px 8px;
            display: inline-block;
        }
        
        #hero .search-ui a:hover,
        #hero .search-ui a:active {
            color: white;
            background-color: #009a00;
        }
        
        .info-box a {
            color: #444444;
            text-decoration: none;
        }

        .map-btn {
            margin-top: 25px;
            background: #009A00;
            color: #fff;
            border-radius: 20px 20px 20px 0;
            padding: 10px 35px;
            white-space: nowrap;
            transition: 0.3s;
            font-size: 20px;
            font-weight: 600;
            display: inline-block;
        }

        .map-btn:hover {
            background: #000;
            color: #009A00;
        }
    </style>
{% endblock %}

{% block content %}
    <section id="hero" class="d-flex align-items-center">
        <div class="container-fluid" data-aos="zoom-out" data-aos-delay="100">
            <div class="row justify-content-center">
                <div class="col-xl-10">
                    <div class="row">
                        <div class="col-lg-6 col-md-8 mx-auto text-center">
                            <h1 class="text-center">Find a Spot</h1>
                            <a href="{% url 'map' %}" class="map-btn ml-0">On Map</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <main id="main">
        <section id="clients" class="clients">
            <div class="container-fluid" data-aos="zoom-in">
                <div class="row justify-content-center">
                    <div class="col-xl-10">
                        <div class="owl-carousel clients-carousel">
                            <img src="{% static 'images/icons/benz.svg' %}" height="25" alt="company logo" />
                            <img src="{% static 'images/icons/lexus_logo.png' %}" width="40" alt="company logo" />
                            <img src="{% static 'images/icons/honda.svg' %}" width="40" alt="company logo" />
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about" class="about section-bg">
            <div class="container" data-aos="fade-up">
                <div class="row no-gutters">
                    <div class="content col-xl-5 d-flex align-items-stretch">
                        <div class="content">
                            <h3>A traffic management solution</h3>
                            <p>
                                Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and pollution.
                            </p>
                            <a href="#!" class="about-btn"><span>About us</span> <i
                                    class="bx bx-chevron-right"></i></a>
                        </div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-stretch">
                        <div class="icon-boxes d-flex flex-column justify-content-center">
                            <div class="row">
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                                    <i class="bx bx-receipt"></i>
                                    <h4>Our Mission</h4>
                                    <p>
                                        Transforming cities with simple earth friendly techonology solutions that give people seamless mobility and living choices.
                                    </p>
                                </div>
                                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                                    <i class="bx bx-cube-alt"></i>
                                    <h4>Our Vision</h4>
                                    <p>
                                        To make our cities better accessible, healthier, cleaner and more livable.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="counts" class="counts">
            <div class="container" data-aos="fade-up">
                <div class="row">
                    <div class="col-md-4 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="icofont-document-folder"></i>
                            <span data-toggle="counter-up">{{ num_of_parks }}</span>
                            <p>Parks</p>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="icofont-live-support"></i>
                            <span data-toggle="counter-up">{{ num_of_bookings }}</span>
                            <p>No of Bookings</p>
                        </div>
                    </div>

                    <div class="col-md-4 mt-5 mt-md-0">
                        <div class="count-box">
                            <i class="icofont-users-alt-5"></i>
                            <span data-toggle="counter-up">{{ num_of_users }}</span>
                            <p>Clients</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="services" class="services section-bg">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>How it <span style="color: #fcfc04;">Works</span></h2>
                </div>

                <div class="row">
                    <div class="col-sm-4 mt-4 mt-md-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                            <img src="{% static 'images/search.svg' %}" alt="search">
                            <span class="text-white h4 ml-2">Search</span>
                            <p style="line-height: 2;">Find safe and proper parking closest to your destination.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4 mt-md-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
                            <img src="{% static 'images/navigate.svg' %}" alt="navigate">
                            <span class="text-white h4 ml-2">Navigate</span>
                            <p style="line-height: 2;">Drive to your destination using the in-app map.</p>
                        </div>
                    </div>
                    <div class="col-sm-4 mt-4 mt-md-0">
                        <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
                            <img src="{% static 'images/park.svg' %}" alt="park">
                            <span class="text-white h4 ml-2">Park</span>
                            <p style="line-height: 2;">Just arrive at your destination and Parkwell.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Contact</h2>
                    <p>We'd love to hear from you.</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="info-box">
                                    <i class="bx bx-map"></i>
                                    <h3>Our Address</h3>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-envelope"></i>
                                    <h3>Email Us</h3>
                                    <p>
                                        <a href="mailto:hello@parkwell.africa">hello@parkwell.africa</a>
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="info-box mt-4">
                                    <i class="bx bx-phone-call"></i>
                                    <h3>Call Us</h3>
                                    <p>
                                        <a href="tel:022919400">02-2919400</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <form action="{% url 'contact_us' %}" method="POST" role="form" class="php-email-form">
                            {% csrf_token %}
                            <div class="form-row">
                                {% for field in contact_us_form %}
                                    {% if forloop.counter > 0 and forloop.counter < 3 %}
                                        <div class="col form-group">
                                            {{ field|add_class:'form-control'}}
                                            {% for error in field.errors %}
                                                <i class="text-danger">{{ error }}</i>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>

                            <div class="form-group">
                                {% for field in contact_us_form %}
                                    {% if forloop.counter > 2 and forloop.counter < 5 %}
                                        <div class="col form-group">
                                            {{ field|add_class:'form-control'}}
                                            {% for error in field.errors %}
                                                <i class="text-danger">{{ error }}</i>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="text-center">
                                <button type="submit">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}