{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon" />
    <meta itemprop="image" , property="og:image" content="/logo.png">
    <meta property="og:image:width" content="1277">
    <meta property="og:image:height" content="473">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.parkwell.africa/">
    <meta property="og:description"
        content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and pollution." />
    <meta itemprop="description" name="description"
        content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and pollution." />
    <meta name="keywords" content="Parkwell, parking, traffic" />
    <meta property="og:title" content="Parkwell Africa">
    <title>Parkwell Africa Massenger</title>
    <style>
        .bg-green-500 {
            background-color: #009A00 !important;
        }
    </style>
</head>

<body>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-12 text-center">
                <img src="{% static 'logo.png' %}" alt="Parkwell logo" width="200">
            </div>
            <div class="col-sm-6 text-center mt-5">
                {% for message in messages %}
                <div class="alert alert-{% if message.tags == " error" %}danger{% else %}{{ message.tags }}{% endif %}
                    alert-dismissible" role="alert">
                    <small>{{ message|safe }}</small>
                </div>
                {% endfor %}
            </div>
            <div class="col-sm-12 text-center mt-5">
                <a href="/" class="btn btn-lg btn-success bg-green-500">Go Back Home</a>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>