{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block description %}
<meta property="og:description"
    content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and carbon emission." />
<meta itemprop="description" name="description"
    content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and carbon emission." />
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Parkwell, parking, traffic" />
{% endblock %}
{% block title %}
<meta property="og:title" content="Dashboard - Padmin">
<title>Dashboard - Padmin</title>
{% endblock %}
{% block toplink %}
<style>
    #weatherWidget .currentDesc {
        color: #ffffff !important;
    }

    .traffic-chart {
        min-height: 335px;
    }

    #flotPie1 {
        height: 150px;
    }

    #flotPie1 td {
        padding: 3px;
    }

    #flotPie1 table {
        top: 20px !important;
        right: -10px !important;
    }

    .chart-container {
        display: table;
        min-width: 270px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #flotLine5 {
        height: 105px;
    }

    #flotBarChart {
        height: 150px;
    }

    #cellPaiChart {
        height: 160px;
    }

    .card-header {
    background-color: #000 !important;
    padding: 1.75rem 1.25rem;
    color: #009A00;
    font-weight: 300;
}
</style>
{% endblock %}

{% block content %}

{% include 'navigations/dashboard/left_panel.html' %}

<div id="right-panel" class="right-panel">
    {% include 'navigations/dashboard/header.html' %}

    <div class="content">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header">
                    <strong class="card-title">Park Admin</strong>
                    <button type="button" class="btn btn-sm btn-dark float-right" data-toggle="modal"
                        data-target="#addmodal">
                        Register Park Admin
                    </button>
                    {% if request.user.is_superuser %}
                        <a href="{% url 'export_park_admin' %}" class="btn mr-1 btn-sm btn-warning float-right">Export Park Admins</a>
                    {% endif %}
                </div>
                <div class="table-stats order-table ov-h">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="serial">ID</th>
                                <th class="avatar">Avatar</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone no.</th>
                                <th>View</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        {% if request.user.is_superuser %}
                        <tbody>
                            {% for padmin in padmins %}
                                <tr>
                                    <td class="serial">{{ padmin.user.id }}</td>
                                    <td class="avatar">
                                        <div class="round-img">
                                            <a href="#"><img class="rounded-circle border border-dark" src="{{ padmin.photo.url }}" width="42"
                                                    height="42" alt="avatar" /></a>
                                        </div>
                                    </td>
                                    <td>
                                        {{ padmin.user.username|capfirst }}
                                    </td>
                                    <td>
                                        {{ padmin.user.email }}
                                    </td>
                                    <td>
                                        <span class="product">{{ padmin.mobile_number }}</span>
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-sm btn-success" data-toggle="modal"
                                            data-target="#viewmodal{{ padmin.id }}">
                                            View
                                        </button>
                                    </td>
                                    <td>
                                        <a href="{% url 'dashboard_padmin_delete' pk=padmin.id %}" class="btn btn-sm btn-danger">Delete</a>
                                    </td>
                                </tr>

                                <div class="modal fade" id="viewmodal{{ padmin.id }}" tabindex="-1" role="dialog"
                                    aria-labelledby="viewmodal{{ padmin.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog modal-md" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title text-center" id="viewmodal{{ padmin.id }}Label">
                                                    <b>{{padmin.user.username|capfirst }} Info</b>
                                                </h5>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12 text-center">
                                                        <img src="{{ padmin.photo.url }}" class="rounded-circle border border-dark" width="100" height="100" alt="avatar"> <br/>
                                                        <b>User:</b> {{ padmin.user.username|capfirst }} <br/>
                                                        <b>Email:</b> <a href="mailto:{{ padmin.user.email }}">{{ padmin.user.email }}</a> <br/>
                                                        <b>Mobile Number:</b> <a href="tel:{{ padmin.mobile_number }}">{{ padmin.mobile_number }}</a> <br/>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                                                    Back
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </tbody>
                        {% elif request.user.administrator.is_company_admin %}
                            <tbody>
                                {% for padmin in padmins %}
                                    {% if padmin.company_admin == request.user.administrator %}                                        
                                        <tr>
                                            <td class="serial">{{ padmin.user.id }}</td>
                                            <td class="avatar">
                                                <div class="round-img">
                                                    <a href="#"><img class="rounded-circle border border-dark" src="{{ padmin.photo.url }}" width="42"
                                                            height="42" alt="avatar" /></a>
                                                </div>
                                            </td>
                                            <td>
                                                {{ padmin.user.username|capfirst }}
                                            </td>
                                            <td>
                                                {{ padmin.user.email }}
                                            </td>
                                            <td>
                                                <span class="product">{{ padmin.mobile_number }}</span>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-sm btn-success" data-toggle="modal"
                                                    data-target="#viewmodal{{ padmin.id }}">
                                                    View
                                                </button>
                                            </td>
                                        </tr>

                                        <div class="modal fade" id="viewmodal{{ padmin.id }}" tabindex="-1" role="dialog"
                                            aria-labelledby="viewmodal{{ padmin.id }}Label" aria-hidden="true">
                                            <div class="modal-dialog modal-md" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title text-center" id="viewmodal{{ padmin.id }}Label">
                                                            <b>{{padmin.user.username|capfirst }} Info</b>
                                                        </h5>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row">
                                                            <div class="col-12 text-center">
                                                                <img src="{{ padmin.photo.url }}" class="rounded-circle border border-dark" width="100" height="100" alt="avatar"> <br/>
                                                                <b>User:</b> {{ padmin.user.username|capfirst }} <br/>
                                                                <b>Email:</b> <a href="mailto:{{ padmin.user.email }}">{{ padmin.user.email }}</a> <br/>
                                                                <b>Mobile Number:</b> <a href="tel:{{ padmin.mobile_number }}">{{ padmin.mobile_number }}</a> <br/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">
                                                            Back
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        {% endif %}
                    </table>
                </div>
            </div>

            <div class="modal fade" id="addmodal" tabindex="-1" role="dialog" aria-labelledby="addmodalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title text-center" id="addmodalLabel">
                                <b>Add Park Admin</b>
                            </h5>
                        </div>
                        <div class="modal-body">
                            <form action="{% url 'dashboard_padmin' %}" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {% for field in register_form %}
                                            <div class="form-group">
                                                {{ field|add_class:'form-control' }}
                                                {% for error in field.errors %}
                                                <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="col-sm-12">
                                        {% for field in park_admin_form %}
                                            <div class="form-group">
                                                {{ field|add_class:'form-control' }}
                                                {% for error in field.errors %}
                                                <p class="text-danger">{{ error }}</p>
                                                {% endfor %}
                                            </div>
                                        {% endfor %}
                                    </div>
                                </div>

                                <div class="form-actions form-group float-right">
                                    <button type="submit" class="btn btn-success btn-md">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

</div>
{% endblock %}