{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block description %}
<meta property="og:description"
    content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and carbon emission." />
<meta itemprop="description" name="description"
    content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and carbon emission." />
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Parkwell, parking, traffic" />
{% endblock %}
{% block title %}
<meta property="og:title" content="Dashboard - Company Add">
<title>Dashboard - Company Add</title>
{% endblock %}
{% block toplink %}
<style>
    #weatherWidget .currentDesc {
        color: #ffffff !important;
    }

    .traffic-chart {
        min-height: 335px;
    }

    #flotPie1 {
        height: 150px;
    }

    #flotPie1 td {
        padding: 3px;
    }

    #flotPie1 table {
        top: 20px !important;
        right: -10px !important;
    }

    .chart-container {
        display: table;
        min-width: 270px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #flotLine5 {
        height: 105px;
    }

    #flotBarChart {
        height: 150px;
    }

    #cellPaiChart {
        height: 160px;
    }

    .card-header {
        background-color: #000 !important;
        padding: 1.75rem 1.25rem;
        color: #009A00;
        font-weight: 300;
    }
</style>
{% endblock %}

{% block content %}

{% include 'navigations/dashboard/left_panel.html' %}

<div id="right-panel" class="right-panel">
    {% include 'navigations/dashboard/header.html' %}

    <div class="content">
        <div class="animated fadeIn">
            <div class="card">
                <div class="card-header"><strong>New Company Registration</strong></div>
                <div class="card-body card-block">
                    <form action="{% url 'dashboard_company_add' %}" method="POST" enctype="multipart/form-data"
                        class="form-horizontal">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-sm-6">
                                {% for field in company_form %}
                                    {% if forloop.counter > 0 and forloop.counter < 4 %}
                                        <div class="form-group">
                                            <label>{{ field.label }}</label>
                                            {{ field|add_class:'form-control' }}
                                            {% for error in field.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="col-sm-6">
                                {% for field in company_form %}
                                    {% if forloop.counter > 3 and forloop.counter < 6 %}
                                        <div class="form-group">
                                            <label>{{ field.label }}</label>
                                            {{ field|add_class:'form-control' }}
                                            {% for error in field.errors %}
                                            <p class="text-danger">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>

                        <div class="form-actions form-group float-right">
                            <a href="{% url 'dashboard_company' %}" class="btn btn-outline-secondary btn-md">Cancel
                            </a>
                            <button type="submit" class="btn btn-success btn-md">Add</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>



</div>
{% endblock %}