{% extends 'layouts/dashboard.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}

{% block description %}
<meta property="og:description"
    content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and carbon emission." />
<meta itemprop="description" name="description"
    content="Parkwell is efficiently making parking easy, quick and effortless for drivers, space owners and cities; reducing traffic congestion and carbon emission." />
{% endblock %}
{% block keywords %}
<meta name="keywords" content="Parkwell, parking, traffic" />
{% endblock %}
{% block title %}
<meta property="og:title" content="Dashboard - Park">
<title>Dashboard - Park</title>
{% endblock %}
{% block toplink %}
<style>
    #weatherWidget .currentDesc {
        color: #ffffff !important;
    }

    .traffic-chart {
        min-height: 335px;
    }

    #flotPie1 {
        height: 150px;
    }

    #flotPie1 td {
        padding: 3px;
    }

    #flotPie1 table {
        top: 20px !important;
        right: -10px !important;
    }

    .chart-container {
        display: table;
        min-width: 270px;
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #flotLine5 {
        height: 105px;
    }

    #flotBarChart {
        height: 150px;
    }

    #cellPaiChart {
        height: 160px;
    }

    .card-header {
        background-color: #000 !important;
        padding: 1.75rem 1.25rem;
        color: #009A00;
        font-weight: 300;
    }
</style>
{% endblock %}

{% block content %}

{% include 'navigations/dashboard/left_panel.html' %}

<div id="right-panel" class="right-panel">
    {% include 'navigations/dashboard/header.html' %}

        <div class="content">
            <div class="animated fadeIn">
                <div class="breadcrumbs mt-0">
                    <div class="breadcrumbs-inner">
                        <div class="row m-0">
                            <div class="col-sm-4">
                                <div class="page-header float-left">
                                    <div class="page-title">
                                        <h1>Parks</h1>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="page-header float-right">
                                    <div class="page-title">
                                        <div class="breadcrumb text-right">
                                            <a class="btn btn-sm btn-orange float-right" data-toggle="modal" data-target="#getLonLatModal">Get Latitude and Longitude</a>
                                            <a href="{% url 'dashboard_park_add' %}" type="button"
                                                class="btn btn-sm btn-dark float-right">Register Park</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% if request.user.is_superuser %}
                    <div class="content">
                        <div class="animated fadeIn">
                            <div class="row">
                                {% for park in parks %}
                                    <div class="col-md-4">
                                        <a href="{% url 'dashboard_park_detail' pk=park.id %}" class="text-decoration-none text-dark">
                                            <div class="card">
                                                <div class="card-header">
                                                    <strong class="card-title">
                                                        {{ park.park_name }}
                                                        <small>
                                                            <span class="badge badge-success float-right mt-1">
                                                                {{ park.park_address|truncatechars:15 }}
                                                            </span>
                                                        </small>
                                                    </strong>
                                                </div>
                                                <img class="card-img-bottom" src="{{ park.company.company_logo.url }}" height="200" style="object-fit: cover;"
                                                    alt="Card image cap" />
                                                <div class="card-body">
                                                    <p class="card-text">
                                                        <span class="card-label text-dark"><b>Park name:</b> </span> {{ park.park_name }} <br />
                                                        <span class="card-label text-dark"><b>Park email:</b> </span> {{ park.park_email }} <br />
                                                        <span class="card-label text-dark"><b>Park number:</b> </span> {{ park.park_number }} <br />
                                                        <span class="card-label text-dark"><b>Park address:</b> </span> {{ park.park_address|truncatechars:15 }} <br />
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="content">
                        <div class="animated fadeIn">
                            <div class="row">
                                    {% for park in request.user.administrator.company.park_set.all %}
                                        {% if park %}
                                            <div class="col-md-4">
                                                <a href="{% url 'dashboard_park_detail' pk=park.id %}" class="text-decoration-none text-dark">
                                                    <div class="card">
                                                        <div class="card-header">
                                                            <strong class="card-title">
                                                                {{ park.park_name }}
                                                                <small>
                                                                    <span class="badge badge-success float-right mt-1">
                                                                        {{ park.park_address|truncatechars:15 }}
                                                                    </span>
                                                                </small>
                                                            </strong>
                                                        </div>
                                                        <img class="card-img-bottom" src="{{ park.company.company_logo.url }}" height="200" style="object-fit: cover;"
                                                            alt="Card image cap" />
                                                        <div class="card-body">
                                                            <p class="card-text">
                                                                <span class="card-label text-dark"><b>Park name:</b> </span> {{ park.park_name }} <br />
                                                                <span class="card-label text-dark"><b>Park email:</b> </span> {{ park.park_email }} <br />
                                                                <span class="card-label text-dark"><b>Park number:</b> </span> {{ park.park_number }} <br />
                                                                <span class="card-label text-dark"><b>Park address:</b> </span> {{ park.park_address|truncatechars:15 }} <br />
                                                            </p>
                                                        </div>
                                                    </div>
                                                </a>
                                            </div>
                                        {% else %}
                                            <i class="fa fa-2x fa-trash"></i>
                                            No park registered under this company yet!!
                                        {% endif %}
                                    {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
        
        <div class="modal fade" id="getLonLatModal" tabindex="-1" role="dialog" aria-labelledby="getLonLatModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="getLonLatModalLabel">Modal title</h5>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                Get Current Latitude and Longitude?
                                click <button onclick="getCurrentLatLon()" class="btn btn-sm">Here</button>
                                <br>
                                <div id="LatLon" style="display: none;"></div>
                            </div>
                            <div class="col-sm-6">
                                Visit google maps to get company Latitude and Longitude?
                                click <a href="https://www.google.com/maps/" target="_blank" class="btn btn-sm">Here</a>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    <div class="clearfix"></div>
</div>
{% endblock %}

{% block bottomscript %}
    <script>
        function getCurrentLatLon() {
            let LatLon = document.getElementById("LatLon");
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(position => {
                    LatLon.innerHTML = `Longitude: ${position.coords.longitude} <br> Latitude: ${position.coords.latitude}`;
                    LatLon.style.display = "block";
                });
            } else {
                LatLon.innerHTML = `Can't get current location`;
                LatLon.style.display = "block";
            }
        }
    </script>
{% endblock %}